# Dependencies
node_modules/
venv/
.venv/
__pycache__/
*.pyc

# Local Data (Crucial to ignore for Railway/Volumes)
data/
tokens/
bot_data.db
*.json
!package.json
!railway.json

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
